<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Report Tests</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e8b466">  <td>18/03/13 14:29:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateGroupTest.verifySRMFolderCreation(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:srmTests.CreateGroupTest@1794d431]">verifySRMFolderCreation</td> 
  <td>main@1690287238</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>18/03/13 14:30:23</td>   <td>59396</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BasicTestObjects.closeSession()[pri:0, instance:srmTests.CreateGroupTest@1794d431]">&lt;&lt;closeSession</td> 
<td>&nbsp;</td>  <td>main@1690287238</td>   <td></td> </tr>
</table>
