<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><title>TestNG Report</title><style type="text/css">table {margin-bottom:10px;border-collapse:collapse;empty-cells:show}th,td {border:1px solid #009;padding:.25em .5em}th {vertical-align:bottom}td {vertical-align:top}table a {font-weight:bold}.stripe td {background-color: #E6EBF9}.num {text-align:right}.passedodd td {background-color: #3F3}.passedeven td {background-color: #0A0}.skippedodd td {background-color: #DDD}.skippedeven td {background-color: #CCC}.failedodd td,.attn {background-color: #F33}.failedeven td,.stripe .attn {background-color: #D00}.stacktrace {white-space:pre;font-family:monospace}.totop {font-size:85%;text-align:center;border-bottom:2px solid #000}</style></head><body><table><tr><th>Test</th><th># Passed</th><th># Skipped</th><th># Failed</th><th>Time (ms)</th><th>Included Groups</th><th>Excluded Groups</th></tr><tr><th colspan="7">Report Tests</th></tr><tr><td><a href="#t0">Report tests</a></td><td class="num">0</td><td class="num">0</td><td class="num attn">1</td><td class="num">60,900</td><td></td><td></td></tr></table><table id='summary'><thead><tr><th>Class</th><th>Method</th><th>Start</th><th>Time (ms)</th></tr></thead><tbody><tr><th colspan="4">Report Tests</th></tr></tbody><tbody id="t0"><tr><th colspan="4">Report tests &#8212; failed</th></tr><tr class="failedeven"><td rowspan="1">srmTests.CreateGroupTest</td><td><a href="#m0">verifySRMFolderCreation</a></td><td rowspan="1">1520911763791</td><td rowspan="1">59392</td></tr></tbody></table><h2>Report tests</h2><h3 id="m0">srmTests.CreateGroupTest#verifySRMFolderCreation</h3><table class="result"><tr class="param"><th>Parameter #1</th><th>Parameter #2</th><th>Parameter #3</th></tr><tr class="param stripe"><td>https://amuat.sonet.com.au</td><td>Daupadi</td><td>Password1!</td></tr><tr><th colspan="3">Exception</th></tr><tr><td colspan="3"><div class="stacktrace">org.openqa.selenium.WebDriverException: unknown error: Element &lt;span tabindex=&quot;-1&quot; class=&quot;btn btn-default form-control ui-select-toggle&quot; aria-label=&quot;Select box activate&quot; ng-disabled=&quot;$select.disabled&quot; ng-click=&quot;$select.activate()&quot; style=&quot;outline: 0;&quot; role=&quot;button&quot; aria-disabled=&quot;false&quot;&gt;...&lt;/span&gt; is not clickable at point (940, 866). Other element would receive the click: &lt;ul class=&quot;ui-select-choices ui-select-choices-content ui-select-dropdown dropdown-menu&quot; ng-show=&quot;$select.open &amp;amp;&amp;amp; $select.items.length &gt; 0&quot; repeat=&quot;list_value.value as list_value in field.list_values | filter:$select.search&quot; aria-hidden=&quot;false&quot; style=&quot;opacity: 1;&quot;&gt;...&lt;/ul&gt;
  (Session info: chrome=64.0.3282.186)
  (Driver info: chromedriver=2.36.540470 (e522d04694c7ebea4ba8821272dbef4f9b818c91),platform=Windows NT 10.0.10586 x86_64) (WARNING: The server did not provide any stacktrace information)
Command duration or timeout: 43 milliseconds
Build info: version: &apos;2.53.0&apos;, revision: &apos;35ae25b1534ae328c771e0856c93e187490ca824&apos;, time: &apos;2016-03-15 10:43:46&apos;
System info: host: &apos;pc12351&apos;, ip: &apos;192.168.75.27&apos;, os.name: &apos;Windows 10&apos;, os.arch: &apos;amd64&apos;, os.version: &apos;10.0&apos;, java.version: &apos;1.8.0_91&apos;
Driver info: org.openqa.selenium.chrome.ChromeDriver
Capabilities [{applicationCacheEnabled=false, rotatable=false, mobileEmulationEnabled=false, networkConnectionEnabled=false, chrome={chromedriverVersion=2.36.540470 (e522d04694c7ebea4ba8821272dbef4f9b818c91), userDataDir=C:\Users\DPARAK~1\AppData\Local\Temp\scoped_dir17316_5371}, takesHeapSnapshot=true, pageLoadStrategy=normal, databaseEnabled=false, handlesAlerts=true, hasTouchScreen=false, version=64.0.3282.186, platform=XP, browserConnectionEnabled=false, nativeEvents=true, acceptSslCerts=false, acceptInsecureCerts=false, locationContextEnabled=true, webStorageEnabled=true, browserName=chrome, takesScreenshot=true, javascriptEnabled=true, cssSelectorsEnabled=true, setWindowRect=true, unexpectedAlertBehaviour=}]
Session ID: 665afc7f5869dbf8158e3801e8ea84c3
	at org.openqa.selenium.remote.ErrorHandler.createThrowable(ErrorHandler.java:206)
	at org.openqa.selenium.remote.ErrorHandler.throwIfResponseFailed(ErrorHandler.java:158)
	at org.openqa.selenium.remote.RemoteWebDriver.execute(RemoteWebDriver.java:678)
	at org.openqa.selenium.remote.RemoteWebElement.execute(RemoteWebElement.java:327)
	at org.openqa.selenium.remote.RemoteWebElement.click(RemoteWebElement.java:85)
	at basePageObjects.BasicPageObjects.clickButton(BasicPageObjects.java:62)
	at srmPageObjects.CreateGroupPage.createAStudent(CreateGroupPage.java:117)
	at srmTests.CreateGroupTest.verifySRMFolderCreation(CreateGroupTest.java:23)
... Removed 29 stack frames</div></td></tr></table><p class="totop"><a href="#summary">back to summary</a></p></body></html>